<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Student Exam Performance Indicator</h1>

        <form action="{{ url_for('predict_datapoint') }}" method="get">
            <button type="submit">Start Prediction</button>
        </form>

        <div class="footer">
            ML Project • Flask • Scikit-Learn
        </div>
    </div>

</body>
</html>
